// Viewport breakpoints
$bp-mobile-sm: 320px;
$bp-mobile: 360px;
$bp-mobile-lg: 400px;

$bp-tablet-sm: 600px;
$bp-tablet: 750px;
$bp-tablet-lg: 900px;

$bp-desktop-sm: 1150px;
$bp-desktop: 1350px;
$bp-desktop-lg: 1500px;

$bp-ultra-sm: 1650px;
$bp-ultra: 1900px;
$bp-ultra-lg: 2500px;
$bp-ultra-xl: 3200px;

// Container query breakpoints
$container-lg: 500px;
