/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

/* ================================
BASE STYLES
================================ */
body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-family: var(--font-sans);
  font-size-adjust: from-font;
  font-size: var(--font-step-0);
  line-height: var(--leading-standard);
  margin: 0;
  min-height: 100vh;
  position: relative;
}

main {
  flex: 1;
}

/* ================================
HEADINGS
================================ */
:is(h1, h2, h3, h4) {
  font-family: var(--font-display);
  line-height: var(--leading-tight);
  text-wrap: pretty;
}

h1 {
  font-size: var(--font-step-6);
  line-height: var(--leading-tight);
}

:is(h2, h3, h4) {
  line-height: var(--leading-fine);
}

h2 {
  font-size: var(--font-step-4);
}

h3 {
  font-size: var(--font-step-2);
}

:is(h4, h5, h6) {
  font-size: var(--font-step-1);
}

/* ================================
INLINE ELEMENTS
================================ */
small {
  font-size: var(--font-step--1);
}

ins {
  padding-inline: 0.3em;
  text-decoration: none;
}

/* ================================
TEXT FORMATTING
================================ */
q {
  font-style: italic;
}

/* ================================
LISTS
================================ */
ul,
ol {
  &[data-style="minimal"] {
    list-style-type: none;
    margin-block-end: 0;
    padding: 0;
  }

  &[data-style="inline"] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ::marker {
    color: var(--color-accent);
  }
}

ul {
  &:not([class]) {
    list-style-type: disc;
    padding-inline-start: 1.7ch;

    > li {
      padding-inline-start: var(--space-xs);
    }
  }

  ::marker {
    font-size: 0.8lh;
  }
}

ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}

/* Lists with classes and roles will be out of standard flow, so remove the default spacing */
[role="list"][class],
[role="tablist"][class] {
  margin-block: 0;
  padding: 0;
}

/* ================================
DEFINITION LISTS & ADDRESS
================================ */
address {
  font-style: normal;
}

dt {
  font-weight: var(--font-medium);

  + dd {
    margin-block-start: var(--space-xs);
  }
}

dd {
  margin-inline-start: 1.5ch;

  + dt {
    margin-block-start: var(--space-s);
  }
}

abbr {
  text-decoration-color: var(--color-accent);
}

/* ================================
QUOTES & BLOCKQUOTES
================================ */
blockquote {
  border-inline-start: 5px solid var(--color-accent);
  color: var(--color-fg);
  margin-inline: 0;
  padding-inline-start: var(--space-s);

  cite,
  footer {
    color: var(--color-fg);
    font-size: var(--font-step--1);
    margin-block-start: var(--space-s);

    &::before {
      content: "— ";
    }
  }
}

/* ================================
MEDIA ELEMENTS
================================ */
:is(video, iframe[src*="youtube"], iframe[src*="vimeo"]) {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

figure {
  margin-inline: 0;

  figcaption {
    font-size: var(--font-step--1);
    padding-block-start: 0.5em;
  }
}

/* ================================
TABLES
================================ */
table {
  border: var(--stroke);
  border-collapse: collapse;
  width: 100%;
}

th {
  font-weight: var(--font-bold);
  line-height: var(--leading-fine);
  text-align: left;

  &:not(:only-of-type) {
    border-block-end: var(--stroke);
  }

  &:only-of-type {
    border-inline-end: var(--stroke);
  }
}

thead th {
  padding-block: var(--space-s);
}

td,
th {
  padding: var(--space-xs) var(--space-s);
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: var(--stroke);
}

tr + tr :is(th, td) {
  border-block-start: var(--stroke);
}

caption {
  caption-side: bottom;
  margin-block-start: var(--space-s);
}

/* ================================
LINKS & FOCUS
================================ */
a {
  -webkit-text-decoration-skip-ink: none;
  color: inherit;
  text-decoration: underline 0.125em currentColor;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2ex;

  @supports (
    text-decoration: underline 0.125em hsla(from currentColor h s l / 0.6)
  ) {
    text-decoration: underline 0.125em
      hsla(from var(--text-decoration-color, currentColor) h s l / 0.6);
  }

  &:hover,
  &:focus-visible {
    text-decoration: none;
  }

  &:not([class]) {
    font-weight: var(--font-medium);
  }
}

:is(h1, h2, h3, h4) a:not([class]) {
  text-decoration-thickness: 0.1ex;
  text-underline-offset: 0.2ex;
}

:is(h1, h2, h3, h4) a:not([class]):hover {
  text-underline-offset: 0.3ex;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--focus-color, currentColor);
  outline-offset: var(--focus-offset, 0.2lh);
}

/* Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
*/
@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

:target {
  scroll-margin-block: 5lh;
}

::selection {
  background: var(--color-accent);
  color: var(--color-primary);
}

/* ================================
MISCELLANEOUS
================================ */
hr {
  border: none;
  border-block-start: 1px solid var(--color-accent);
  margin-block: var(--flow-space, var(--space-xl));
  width: 100%;
}

svg {
  flex-shrink: 0;

  &:not([class]) {
    height: 1lh;
    width: auto;
  }

  &[role="img"][width][height] {
    background: var(--color-gray-l);
    height: revert;
    padding: var(--space-xs);
    width: revert;
  }
}

/* ================================
FORMS
================================ */
/* There's a .flow composition, but this prevents forms from having to have that applied where markup is harder to control in certain systems. It still uses the --flow-space variables though to make managing space easier */
form > * + * {
  margin-top: var(--flow-space, 1rem);
}

:is(input, select, textarea) {
  accent-color: var(--color-primary);
}

:is(
    input:not(
        [type="checkbox"],
        [type="radio"],
        [type="color"],
        [type="submit"]
      ),
    select,
    textarea
  ) {
  background: var(--color-bg);
  border: var(--stroke);
  border-radius: var(--radius);
  color: var(--color-primary);
  font-size: min(var(--font-step-0), 18px);
  padding: 0.3em 0.8em;
  width: 100%;

  &::placeholder {
    color: var(--color-gray);
    opacity: 1;
  }
}

input {
  &[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MiIgaGVpZ2h0PSI1MiIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNjUuNjYsMTAxLjY2LDEzOS4zMSwxMjhsMjYuMzUsMjYuMzRhOCw4LDAsMCwxLTExLjMyLDExLjMyTDEyOCwxMzkuMzFsLTI2LjM0LDI2LjM1YTgsOCwwLDAsMS0xMS4zMi0xMS4zMkwxMTYuNjksMTI4LDkwLjM0LDEwMS42NmE4LDgsMCwwLDEsMTEuMzItMTEuMzJMMTI4LDExNi42OWwyNi4zNC0yNi4zNWE4LDgsMCwwLDEsMTEuMzIsMTEuMzJaTTIzMiwxMjhBMTA0LDEwNCwwLDEsMSwxMjgsMjQsMTA0LjExLDEwNC4xMSwwLDAsMSwyMzIsMTI4Wm0tMTYsMGE4OCw4OCwwLDEsMC04OCw4OEE4OC4xLDg4LjEsMCwwLDAsMjE2LDEyOFoiPjwvcGF0aD48L3N2Zz4=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    height: 20px;
    margin-inline: 0.3em;
    width: 20px;
  }

  &:disabled {
    background: var(--color-gray-l);

    &,
    + * {
      cursor: not-allowed;
    }
  }
}

label {
  font-weight: var(--font-medium);
  line-height: var(--leading-fine);

  &::after {
    content: "\A";
    white-space: pre;
  }

  /* Usually label wraps checkbox and radio buttons, so we give ourselves more layout and text-flow control with flex */
  &:has(input) {
    align-items: baseline;
    display: flex;
    font-weight: var(--font-normal);
    gap: var(--space-s);

    + label:has(input) {
      --flow-spce: var(--space-s-m);
    }

    /* Slightly adjusts the vertical position of the check/radio */
    input {
      transform: translateY(-0.1ex);
    }
  }
}

fieldset {
  border: var(--stroke);
  padding: var(--space-s);

  legend {
    font-weight: var(--font-medium);
    padding-inline: var(--space-xs);
  }
}

/* ================================
INTERACTIVE ELEMENTS
================================ */
summary {
  color: var(--color-fg);
  cursor: pointer;
  font-size: var(--font-step-2);
  font-weight: var(--font-bold);
  line-height: var(--leading-tight);
  list-style: none;
  padding-block: var(--space-m);
  position: relative;

  .icon {
    --icon-height: 0.45em;
    --icon-width: auto;
    position: absolute;
    right: 5px;
    top: calc(50% - (var(--icon-height) / 2));
    transition: transform 0.2s var(--ease-in-out);
  }
}

details {
  border-block: var(--stroke);

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    block-size: 0;
    opacity: 0;
    overflow-y: clip;
    transition: content-visibility 0.3s allow-discrete, opacity 0.3s,
      block-size 0.3s;
    transition-timing-function: var(--ease-in-sine);
  }

  &[open] {
    padding-block-end: var(--space-m);

    &::details-content {
      block-size: auto;
      opacity: 1;
      transition-timing-function: var(--ease-out-sine);
    }

    summary {
      &::before {
        transform: translateY(-50%) rotate(-45deg);
      }

      &::after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  + details {
    border-block-start: none;
  }

  summary {
    padding-inline-end: 45px;

    &::before,
    &::after {
      background: currentColor;
      content: "";
      height: 2px;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.25s;
      width: 1rem;
    }

    &::after {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

/* ================================
Scrollbars
================================ */
* {
  scrollbar-color: var(--thumb-color, var(--color-primary))
    var(--track-color, var(--color-bg));
  scrollbar-width: thin;
}
