/* ICON COMPOSITION
Related Every Layout: https://every-layout.dev/layouts/icon/
A layout that lets you distribute items with consitent spacing, regardless of their size

CUSTOM PROPERTIES AND CONFIGURATION
--icon-vertical-alignment (baseline): How items should align vertically. Can be any acceptable flexbox alignment value.
--icon-width (1cap or 0.75em): The width of the icon.
--icon-height (1cap or 0.75em): The height of the icon.
*/

.icon {
  height: var(--icon-height, 0.75em);
  width: var(--icon-width, 0.75em);
}

@supports (width: 1cap) {
  .icon {
    height: var(--icon-height, 1cap);
    width: var(--icon-width, 1cap);
  }
}

.with-icon {
  align-items: var(--icon-vertical-alignment, baseline);
  display: inline-flex;
  line-height: var(--leading-flat);

  &[data-icon-position='after'] {
    .icon {
      margin-inline-start: 0.5em;
    }
  }

  &:not([data-icon-position='after']) {
    .icon {
      margin-inline-end: 0.5em;
    }
  }
}
