/*
WRAPPER COMPOSITION
A common wrapper/container

CUSTOM PROPERTIES AND CONFIGURATION
--wrapper-max-width (1360px): The maximum width of the wrapper
--gutter (var(--space-size-1)): The space between the wrapper and the viewport
*/
.wrapper {
  margin-inline: auto;
  max-width: calc(var(--wrapper-max-width, 1360px) + (var(--gutter, 0px) * 2));
  padding-inline: var(--gutter);
  position: relative;
  width: 100%;

  &[data-full-width] {
    --wrapper-max-width: 100%;
  }

  &[data-wrapper-padding="none"] {
    padding-inline: 0;
  }

  &[data-wrapper-padding="left"] {
    padding-right: 0;
  }

  &[data-unset-position] {
    position: static;
  }
}
